.preview-title{
    position: absolute;
    color: #fafafa;
    top: 50%;
    transform: translateY(200px);
    transition: transform 0.5s;
    z-index: 100
}

.preview-block{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.preview-block:hover .preview-title{
    transform: translateY(0);
}
.preview-block img{
    transition: transform 0.5s;
}
.preview-block:hover img{
    transform: scale(1.05);
}

.preview-img{
    width: 100%;
}