.form-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #393e46;
    background: inherit;
    overflow: hidden;
    max-width: 750px;
    border-radius: 8px;
    color: #123c69;
    position: relative;
}

.form-wrapper h2{
    margin: 100px 0 50px;
    font-weight: bold;
    font-size: 24px;
}

.form-wrapper .block{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #898989;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 58% 78%, 31% 100%, 0 86%, 0 0);
}

.form-wrapper .footer{
    width: 100%;
    height: 100px;
    background-color: #898989;
    clip-path: polygon(63% 68%, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 45px;
    padding: 0 35px;
    width: 90%;
}

.group .label{
    position: absolute;
    transition: all 0.5s ease;
    pointer-events: none;
}
.group .input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #393e46;
    outline: none;
    font-size: 16px;
}
.group .input:focus ~.label,
.group .input:valid ~.label{
    margin-top: -25px;
    transition: all 0.5s ease;
}

.btn {
    font-size: 20px;
    color: #393e46;
    background-color: transparent;
    outline: none;
    padding: 3px;
    padding-bottom: 0;
    margin: 50px 0 0;
    border: none;
    border-bottom: solid 2px #393e46;
    transition: all 0.5s linear;
}

.btn:hover{
    color: #88a1b1;
    border-bottom: solid 2px #88a1b1;
    transition: all 0.5s linear;
}

.login-icon{
    position: absolute;
    right: 20px;
    transition: all 0.5s ease;
}

.group .input:focus ~ .login-icon,
.group .input:valid ~ .login-icon{
    margin-top: -25px;
    transition: all 0.5s ease;
}