.timeline {
    width: 200px;
    height: 6px;
    cursor: pointer;
}

.timecontrol input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin: 10px;
}

.timecontrol input[type='range']::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    background: #1E555C;
    box-shadow: -100px 0 0 100px #1E555C;
    border-radius: 5px;
}

.timecontrol{
    position: relative;
    display: flex;
    margin: 0 0px 0 0px;
    overflow: hidden;
}

.track_info_container{
    display: flex;
    align-items: center;
}

@media (max-width: 700px){
    .timeline{
        width: 150px;
    }
}
