.track_header_container{
    display: flex;
    align-items: center;
    max-width: 200px;
    overflow: hidden;
}

.musicCover{
    width: 60px;
    border-radius: 10px;
    margin-right: 10px;
}

.title,
.subTitle {
    white-space: nowrap;
    overflow: hidden;
    color: #2f4454
}
.title{
    color: #1E555C
}

@media (max-width: 800px){
    .musicCover{
        width: 40px;
    }
    .track_header_container{
        width: 120px;
    }
    
}